workflow-templates/code-analysis-workflow.json
{
  "name": "Code Analysis with Auggie CLI",
  "nodes": [
    {
      "parameters": {},
      "id": "f6b4c5d0-1234-5678-9abc-def012345678",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "execute",
        "prompt": "Analyze this codebase and provide:\n1. Code quality assessment\n2. Performance improvement suggestions\n3. Security vulnerabilities\n4. Best practices recommendations\n\nFocus on actionable insights.",
        "projectPath": "/path/to/your/project",
        "outputMode": "print",
        "additionalOptions": {
          "debug": true
        }
      },
      "id": "a1b2c3d4-5678-9abc-def0-123456789abc",
      "name": "Auggie CLI Analysis",
      "type": "n8n-nodes-auggie-cli.auggieCli",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.success}}",
              "value2": true
            }
          ]
        }
      },
      "id": "b2c3d4e5-6789-abcd-ef01-23456789abcd",
      "name": "Analysis Successful?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "content": "# Code Analysis Report\n\n**Project:** {{$node[\"Auggie CLI Analysis\"].json[\"command\"]}}\n**Duration:** {{$node[\"Auggie CLI Analysis\"].json[\"duration_ms\"]}}ms\n**Status:** ✅ Success\n\n## Analysis Results\n\n{{$node[\"Auggie CLI Analysis\"].json[\"result\"]}}\n\n---\n*Generated by Auggie CLI via n8n*",
        "options": {}
      },
      "id": "c3d4e5f6-789a-bcde-f012-3456789abcde",
      "name": "Format Success Report",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "content": "# Code Analysis Failed\n\n**Project:** Analysis Request\n**Status:** ❌ Failed\n**Error:** {{$node[\"Auggie CLI Analysis\"].json[\"error\"]}}\n\n## Details\n\n- **Exit Code:** {{$node[\"Auggie CLI Analysis\"].json[\"exitCode\"]}}\n- **Duration:** {{$node[\"Auggie CLI Analysis\"].json[\"duration_ms\"]}}ms\n\nPlease check the project path and ensure Auggie CLI is properly configured.\n\n---\n*Generated by Auggie CLI via n8n*",
        "options": {}
      },
      "id": "d4e5f6g7-89ab-cdef-0123-456789abcdef",
      "name": "Format Error Report",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [
        900,
        400
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Auggie CLI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auggie CLI Analysis": {
      "main": [
        [
          {
            "node": "Analysis Successful?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analysis Successful?": {
      "main": [
        [
          {
            "node": "Format Success Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "12345678-9abc-def0-1234-56789abcdef0",
  "id": "87654321-abcd-ef01-2345-6789abcdef01",
  "meta": {
    "instanceId": "your-n8n-instance-id"
  },
  "tags": [
    {
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z",
      "id": "tag-id-1",
      "name": "auggie-cli"
    },
    {
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z",
      "id": "tag-id-2",
      "name": "code-analysis"
    }
  ]
}
